.category-card {

  flex: 1 1 280px;
  width: 100%;
  max-width: 320px;
  min-width: 100px;

  height: 10vh;
  min-height: 100px;

  background-color: #7490b4;

  border-radius: 15px;

  overflow: hidden;

  padding: 10px;

  text-align: center;
  color: white;

  cursor: pointer;

  transition: transform 0.3s, background-color 0.3s;

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

}


.category-card:hover {

    transform: scale(1.7);
    background-color: aqua;
    

}

/* Make the category title turn green on hover */
.category-card:hover h3 {
    color: #1e7e34;
}


.category-card h3 {

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

    font-size: 2rem;

}